.sidebar {
    padding-top: 10px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 74px;
    background-color: white;
    z-index: 2;
    /* display: flex; */
    /* flex-direction: column; */
}

.sidebar-icon {
    /* vertical-align: middle; */
    /* align-items: center; */
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 11px;
    padding-bottom: 16px;
    padding-top: 16px;
}



.sidebar-icon:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
}

.sidebar-icon img {
    padding-bottom: 4px;
    width: 25px;
}